.wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh;

}

.image-bg{
    width: 350px;
    height: 620px;
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.message{
    width: 310px;
    height: 85px;
    background: #FFFFFFAE;
    border-radius: 13px;
    backdrop-filter: blur(30px);
    padding: 12px;
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    flex-direction: column;
    margin: 7px 0;
    /*opacity: 0;*/
    /*transform: scale(0.2);*/
}
.top-name-message{
    display:flex;
    align-items:center;
    width: 100%;
    justify-content:space-between;
    height: 13px;
    /*background: darkorchid;*/
    font-size: 15px;
}
.light{
    display:flex;
    align-items:center;
    justify-content:center;

}
.logo{
    width:21px;
    height: 21px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    margin-right: 10px;
}

.inner-message{
    display:flex;
    align-items:flex-start;
    justify-content:flex-end;
    flex-direction: column;
    /*background: darkorchid;*/
    color: black;
}
.title-message{
    font-weight: 600;
    font-size: 17px;
}
.inner-message p{
    font-weight: 400;
    font-size: 14px;
    display:flex;
    align-items: center;

}
.h2{

    overflow: hidden;
}
.h2 p{
    font-size: 14px;
}
.message-bottom-text{
    margin-right: 3px;
}
